[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
python-rake = "*"
python-zpar = "*"
skipthoughts = "*"
stanford-corenlp = "*"
fasttext = "*"
transformers = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
